{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Greetings! I am a Kenyan who embarked on a transformative journey to Poland in 2016. Fueled by a scholarship opportunity,
          I dedicated a year to mastering the intricacies of the Polish language as a prerequisite for my bachelor's program.
          Overcoming the challenges of studying in a foreign language,
          I successfully graduated, marking the inception of my ventures beyond borders.
        </p>
        <p>

My passion for IT ignited when a friend unveiled a website  with my name and picture.
          From that moment, the allure of coding and web design captivated my curiosity.
          This experience marked the corner of my self-taught journey into the world of development!
        </p>
        <p>
         Embracing the power of online learning, I delved into platforms like Udemy and immersive bootcamps,
          honing my skills and expanding my understanding of various programming languages and web development frameworks.
          Through dedicated self-study, hands-on projects, and collaboration with fellow enthusiasts, I navigated the intricate landscape of IT.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
